<div class="example">
  <h2>Simple Form</h2>
  <h4 class="subheader"></h4>
  <form name="simple_form" id="simple_form" action="/simple_form" method="post" >
     <div class="row">
      <div class="large-6 small-12 columns">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" />
      </div>
    </div>     <div class="row">

      <div class="large-6 small-12 columns">
        <label for="email">Passport</label>
        <input type="text" name="passport" id="passport" />
      </div>
    </div>     <div class="row">

      <div class="large-6 small-12 columns">
        <label for="email">Credit Card #</label>
        <input type="text" name="credit_card" id="credit_card" />
      </div>
    </div>     <div class="row">

      <div class="large-6 small-12 columns">
        <label for="email">Password</label>
        <input type="text" name="password" id="password" />
      </div>
    </div>     <div class="row">

      <button id="form_submit" class="radius" type="submit"><i class="icon-2x icon-signin">Submit</i></button>
    </div>
  </form>
</div>
