<ul>
  <li><a href='/download'>File Download</a></li>
  <li><a href='/download_video'>Video Download</a></li>
  <li><a href='/upload'>File Upload</a></li>
  <li><a href='/simple_form'>Simple Form</a></li>
  <li><a href='/download_malware'>Download Malware</a></li>
</ul>
